<html>
  <body>
    <h2>{{title}}</h2>
    <h1>Hello {{name}}, this is the otp you requested.</h1>
    <p>The otp lifetime is {{lifetime}} minute(s).</p>
    <h3>{{otp}}</h3>
    <p>Have good day</p>
  </body>
</html>